<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
</head>
<body>
    <h1>
        This is a render page
    </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ab dolores distinctio vero voluptatum expedita ipsam porro
    vitae! Similique dignissimos expedita architecto accusantium quidem ea eligendi non in, facere amet!
    </p>
    <a class="btn btn-primary" href="@routes.WidgetController.listWidgets">Add Weight</a>
</body>
</html>